.item-header {
    background-color: aquamarine;
    text-align: left;
    padding: 0.6rem 0.5rem;
}

.header-text {
    padding: 0.3rem;
    border: 1px solid darkgreen;
    border-radius: 1rem;
    color: lime;
    background-color: teal;
    font-weight: 600;
}

main {
    text-align: left;
    padding: 0.1rem 0.5rem;
}

main>p {
    font-size: medium;
    border-bottom: 0.5px solid lightgray;
    font-weight: 600;
}

.desc {
    font-size: small;
    font-style: italic;
    padding-bottom: 0.5rem;
    margin-bottom: 0.6rem;
    border-bottom: 0.5px solid lightgray;
}

.item-footer {
    /* padding: 0.5rem 0.5rem; */
    margin: 0.5rem;
    font-weight: 600;
    text-align: center;
    font-size: smaller;
}

.learn-more {
    /* margin-top: 0.5rem; */
    top: 1rem;
    font-size: xx-small;
}